<footer>
    <div class="footer" class="flex justify-center ... ; bg-gray-900" style="width: 100%;color: white;">
      
      <div class="grid grid-cols-3 gap-12 place-content-evenly h-36 ...">
        <a href="" class="footlink" routerLink="home">Home</a>
        <a href="" class="footlink" routerLink="contact">Contact Us</a>
        <a href="" class="footlink" routerLink="faq">FAQ</a>
      </div>
    </div>
    <div class="flex justify-center ..." style="width: 100%;color: rgb(0, 0, 0);">
      <label>Follow Us and get a chance to win 20% off</label>
    </div>

  </footer>